.friend_list {
  display: flex;
  flex-direction: column;

  max-width: 360px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: rgb(232, 254, 254);
  list-style: none;
}

.item {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.status {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  margin-right: 8px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  display: block;
  height: auto;
  margin-right: 15px;
}

.name {
  font-size: 18px;
  font-weight: 600;
}
